@mixin container($width:$d_large) {
  lost-center:$width;
}

@mixin transition($transition){
  transition:$transition;
}

@mixin box-shadow($box-shadow){
  box-shadow:$box-shadow;
}

@mixin transform($transform){
  transform:$transform;
}
@mixin transition-duration($time){
  transition-duration: $time;
}
@mixin clearfix(){
  @util clearfix;
}

/*@mixin background($file_name,$position:0 0,$repeat: repeat){
	background: {
		image:url(#{$images_dir}#{$file_name});
		position: $position;
		repeat: $repeat;
	}

}

@mixin center_div_vertical{
	position: absolute;
	top:50%;
	@include translateY(-50%);
}

@mixin center_div {
	margin: 0 auto;
}

@mixin clearfix() {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}
*/
